// Facebook: Like Button
// https://developers.facebook.com/docs/reference/javascript/#loading
// https://developers.facebook.com/docs/reference/plugins/like/
div#sns-facebook-like.
  <div class="fb-like" data-send="false" data-layout="button_count" data-width="130"></div>
// Facebook

// Google +1
div#sns-google-like.
  <div class="g-plusone" data-size="small"></div>
// Google +1

// LINE: LINEで送るボタン
div#sns-line-button.
  <span><script>new jp.naver.line.media.LineButton({"pc":false,"lang":"ja","type":"a"});</script></span>
// LINE

// mixi イイネ!
div#sns-mixifavorite-like.
  <div data-plugins-type="mixi-favorite" data-service-key="..."></div>
// mixi

// mixi チェック
div#sns-mixicheck-like.
  <a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="...">mixiチェック</a>
// mixi

// mixi ページフォロー
div#sns-mixifollow-like.
  <div data-plugins-type="mixi-page-follow" data-service-key="..."></div>
// mixi

// Twitter: Button Share
// https://twitter.com/about/resources/buttons#tweet
div#sns-twitter-button.
  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-hashtags="HASHTAG">Tweet</a>
// Twitter
