extends _layout

block title
  title= title

block append script
  script(src='./js/index.js', charset='UTF-8')

block body
  header
    h1= title

  section#main(role='main')
    section#sample

  footer
    section#sns
      include _inc_sns_buttons

    address
      | Distributed under the 
      a(href='http://unlicense.org/') Unlicense
      | .

  div#loader
    p Loading...
